@import "layout-constants";

.root {
  display: flex;
}
.content {
  margin-top: $top-bar-height;
  padding: 3rem;
  transition: $side-bar-transitions;
}

.content-drawer-open {
  margin-left: $side-bar-open-width;
  width: calc(100vw - #{$side-bar-open-width});
}

.content-drawer-closed {
  margin-left: $side-bar-closed-width;
  width: calc(100vw - #{$side-bar-closed-width});
}

