#app-bar {
  background-color: #333;
  
  #nav-bar-title {
    flex-grow: 1;
  }
  
  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color, color, 0.4s;

    &:hover {
      background-color: #dddddd75;
      cursor: pointer;
      transition: background-color, color, 0.2s;
    }

    &.active {
      background-color: rgb(238, 145, 6);
      color: white;
    }
  }
  
  #menu-button {
    color: whitesmoke;
  }
}
