#side-bar {

  .sidebar-category-text {
    display: none;
    &.visible {
      display: block;
      padding-bottom: 5px;
      text-align: center;
    }
  }
  .sidebar-nav-link {
    text-decoration: none;
    color: #333333;
    
    .sidebar-nav-list-item {
      transition: background-color, color, 0.4s;
    }
    
    .sidebar-nav-list-item-icon {
      transition: background-color, color, 0.4s;
    }
  
    &.active {
      .sidebar-nav-list-item {
        background-color: #333333;;
        color: whitesmoke;
      }
      .sidebar-nav-list-item-icon {
        color: whitesmoke;
      }
    }
  }

}
