@import "../layout-constants";
@import '../../../colours';

#side-bar {

  .side-bar-contents {
    transition: $side-bar-transitions;
  }
  
  .drawer-open {
    width: $side-bar-open-width;
  }

  .drawer-closed {
    width: $side-bar-closed-width;
    overflow-x: hidden;
    .sidebar-nav-list-item {
      padding-left: 0;
      padding-right: 0;
      .sidebar-nav-list-item-icon {
        width: $side-bar-closed-width;
        justify-content: center;
      } 
    }
  }

  .sidebar-category-text {
    display: none;
    &.visible {
      text-align: center;
      display: block;
      padding: 0 0 10px 10px;
    }
  }
  
  .sidebar-category-list{
    padding-top: 0;
  }
  
  .sidebar-nav-link {
    text-decoration: none;
    color: primary-colour(main);
    
    .sidebar-nav-list-item {
      transition: background-color, color, 200ms;
      height: 3em;
    }
      
    &.active {
      .sidebar-nav-list-item {
        background-color: secondary-colour(main);
        height: 4em;
        
        .sidebar-nav-list-item-text, p {
          color: secondary-colour(text);
        }
      }
      .sidebar-nav-list-item-icon {
        color: secondary-colour(text);
      }
    }
  }

  .side-bar-tools {
    height: $top-bar-height;
    width: $side-bar-open-width;
    padding-right: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    
    #side-bar-close-icon {
      align-self: flex-end;
    }
  }
}
