$primary: (
  main: #333333,
  dark: #212121,
  light: #484848,
  text: #ffffff,
);

$secondary: (
  main: #03a9f4,
  dark: #007ac1,
  light: #67daff,
  text: #ffffff,
);

$danger: #ff1744;

@function primary-colour($variant) {
  $colour: map-get($primary, $variant);
  @return $colour;
}

@function secondary-colour($variant) {
  $colour: map-get($secondary, $variant);
  @return $colour;
}

// primary-colour(main)
// @function colour($group, $variant) {
//   @warn map-get($palette, $group);

//   @if map-has-key($palette, $group) {
//     $group: map-get($palette, $group);

//     @if map-has-key($group, $variant) {
//       $variant: map-get($group, $variant);
//       @return $variant;
//     }

//     @warn "unknown variant `#{$variant}` in group `#{$group}`";
//     @return null;
//   }

//   @warn "unknown group `#{$group}` in palette";
//   @return null;
// }
