@import '../../../colours';

#app-bar {
  
  #nav-bar-title {
    flex-grow: 1;
  }
  
  a {
    float: left;
    padding: 14px 16px;
    color: colour(primary, text);
    text-align: center;
    text-decoration: none;
    transition: background-color, color, 0.4s;
    min-width: 100px;

    &:hover {
      background-color: colour(primary, light);
      cursor: pointer;
      transition: background-color, color, 0.2s;
    }

    &.active {
      border-bottom: solid 2px colour(secondary, main);
    }
  }
  
  #menu-button {
    color: colour(primary, text);
    &:hover {
      background-color: colour(primary, light);
      cursor: pointer;
      transition: background-color, color, 0.2s;
    }
  }

  .profile-icon {
    border: 2px solid colour(primary, light);
    &:hover {
      border: 1px solid colour(secondary, main);
      cursor: pointer;
      transition: border, color, 0.2s;
    }
  }
}

#navbar-account-menu {
  text-align: center;
  
  li {
    display: flex;
    justify-content: center;
    p {  
      font-weight: 200;
    }
    &:hover {
      p {
        font-weight: normal;
      }
    }
  }
  
  a {
    text-decoration: none;
    color: colour(primary, main)
  }

  #navbar-account-menu-header {
    padding: 10px;
  }
}
