@import '../layout-constants';
@import '../../../colours';

#app-bar {
  height: $top-bar-height;
  background: primary-colour(main);
  transition: $side-bar-transitions;
  #nav-bar-title {
    flex-grow: 1;
    p {
      font-family: "Nodesto Caps Condensed", serif;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 1.5em;
    }
  }
  
  a {
    float: left;
    padding: 14px 16px;
    color: primary-colour(text);
    text-align: center;
    text-decoration: none;
    transition: background-color, color, 0.4s;
    min-width: 100px;

    &:hover {
      background-color: primary-colour(light);
      cursor: pointer;
      transition: background-color, color, 0.2s;
    }

    &.active {
      border-bottom: solid 2px secondary-colour(main);
    }
  }
  
  #menu-button {
    color: primary-colour(text);
    &:hover {
      background-color: primary-colour(light);
      cursor: pointer;
      transition: background-color, color, 0.2s;
    }
  }

  .profile-icon {
    border: 2px solid primary-colour(light);
    &:hover {
      border: 1px solid secondary-colour(main);
      cursor: pointer;
      transition: border, color, 0.2s;
    }
  }
}

#navbar-account-menu {
  text-align: center;
  
  li {
    display: flex;
    justify-content: center;
    p {  
      font-weight: 200;
    }
    &:hover {
      p {
        font-weight: normal;
      }
    }
  }
  
  a {
    text-decoration: none;
    color: primary-colour(main)
  }

  #navbar-account-menu-header {
    padding: 10px;
  }
}
