@import "../../partials/layout";
@import "../../partials/colours";
@import "../../partials/effects";

.cnc-layout-container {
  height: 100vh;
  padding: 0;

  .cnc-side-bar-container {
    height: 100vh;
    max-width: max-content;
    width: max-content;
    box-shadow: $shadow;
    z-index: $zindex-fixed;
  }

  .cnc-main-container {
    height: 100vh;
    overflow: hidden;

    .cnc-top-bar-container {
      height: $top-bar-height;
    }

    .cnc-content-container {
      background: url(../../assets/textured-paper.png), papayawhip;
      padding: $small;
      height: calc(100% - #{$top-bar-height});
      overflow: auto;
    }
  }
}
