@import "../../colours";

$darken-amount: 10;

.button {
  color: primary-colour(text) !important;
}

.primary-button {
  background: primary-colour(light) !important;;
  &:hover {
    background: darken(primary-colour(light), $darken-amount) !important;;
  }
}

.secondary-button {
  background: secondary-colour(main) !important;;
  &:hover {
    background: darken(secondary-colour(main), $darken-amount) !important;;
  }
}

.danger-button {
  background: $danger !important;;
  &:hover {
    background: darken($danger, $darken-amount) !important;;
  }
}


