#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000075;
  backdrop-filter: blur(3px);
}

#spinner {
  position: relative;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: spinAnimation 1.1s infinite linear;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}